<% id = 0 %>
<%= form.simple_fields_for :character_sheet_skills do |cs| %>
  <% if cs.object.skill.parent_stat == 'brawn' %>
    <% content_for :brawn do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '0', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'determination' %>
    <% content_for :determination do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '1', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'intelligence' %>
    <% content_for :intelligence do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '2', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'perception' %>
    <% content_for :perception do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '3', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'dexterity' %>
    <% content_for :dexterity do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '4', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'agility' %>
    <% content_for :agility do %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '5', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
<% end %>