<%
  id = 0
  brawn = 0
  determination = 0
  intelligence = 0
  perception = 0
  dexterity = 0
  agility = 0
%>
<%= form.simple_fields_for :character_sheet_skills do |cs| %>
  <% if cs.object.skill.parent_stat == 'brawn' %>
    <% content_for :brawn do %>
      <% if cs.object.skill.start_value == 4 && brawn == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% brawn += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && brawn == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% brawn += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '0', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'determination' %>
    <% content_for :determination do %>
      <% if cs.object.skill.start_value == 4 && determination == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% determination += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && determination == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% determination += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '1', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'intelligence' %>
    <% content_for :intelligence do %>
      <% if cs.object.skill.start_value == 4 && intelligence == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% intelligence += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && intelligence == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% intelligence += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '2', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'perception' %>
    <% content_for :perception do %>
      <% if cs.object.skill.start_value == 4 && perception == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% perception += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && perception == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% perception += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '3', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'dexterity' %>
    <% content_for :dexterity do %>
      <% if cs.object.skill.start_value == 4 && dexterity == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% dexterity += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && dexterity == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% dexterity += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '4', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
  <% if cs.object.skill.parent_stat == 'agility' %>
    <% content_for :agility do %>
      <% if cs.object.skill.start_value == 4 && agility == 0 %>
        <h2 class="font-bold pt-4">Rzadkie</h2>
        <% agility += 1 %>
      <% end %>
      <% if cs.object.skill.start_value == 0 && agility == 1 %>
        <h2 class="font-bold pt-4">Bardzo rzadkie</h2>
        <% agility += 1 %>
      <% end %>
      <div class="flex flex-justify-start">
        <%= cs.input :name, label: false, readonly: true, input_html: { class: 'bg-transparent cursor-default select-none outline-none' } %>
        <%= cs.input :value, label: false, readonly: true, input_html: { 'data-isequal': cs.object.skill.is_equal_to_stat, 'data-base': cs.object.skill.start_value, 'data-id': id, 'data-parent': '5', 'data-target': 'new-character-sheet.skill', class: 'bg-transparent w-10 cursor-default select-none outline-none' } %>
        <%= cs.input :skill_id, as: :hidden %>
        <button class="bg-red-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.minusSkill">-</button>
        <button class="bg-green-600 w-6" type="button" data-action="new-character-sheet#changeSkill" data-id="<%= id %>" data-target="new-character-sheet.plusSkill">+</button>
        <% id += 1 %>
      </div>
    <% end %>
  <% end %>
<% end %>