<div data-controller="new-character-sheet">
  <%= simple_form_for [@user, @sheet] do |f| %>
    <% partial = render(partial: 'skills', locals: { form: f }) %>
    <%= f.input :name %>
    <%= f.input :experience, readonly: true, input_html: {'data-target': 'new-character-sheet.exp', class: 'bg-transparent'} %>
    <div class="grid grid-cols-6 gap-4">
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :brawn, class: 'font-bold' %>
          <%= f.input :brawn, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.brawn', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="0" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="0" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
          <hr>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :brawn %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :determination, class: 'font-bold' %>
          <%= f.input :determination, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.deter', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="1" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="1" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
          <hr>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :determination %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :intelligence, class: 'font-bold' %>
          <%= f.input :intelligence, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.intel', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="2" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="2" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
          <hr>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :intelligence %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :perception, class: 'font-bold' %>
          <%= f.input :perception, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.perce', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="3" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="3" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :perception %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :dexterity, class: 'font-bold' %>
          <%= f.input :dexterity, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.dexte', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="4" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="4" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
          <hr>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :dexterity %>
        </div>
      </div>
      <div class="bg-white rounded-md shadow-lg">
        <div class="flex flex-row px-4 py-2">
          <%= f.label :agility, class: 'font-bold' %>
          <%= f.input :agility, label: false, readonly: true, input_html: {'data-target': 'new-character-sheet.agili', class: 'bg-transparent w-10 cursor-default select-none outline-none'} %>
          <button type="button" data-id="5" data-target="new-character-sheet.minus" data-action="click -> new-character-sheet#changeStat">-</button>
          <button type="button" data-id="5" data-target="new-character-sheet.plus" data-action="click -> new-character-sheet#changeStat">+</button>
          <hr>
        </div>
        <hr>
        <div class="flex flex-col px-4 py-2">
          <%= yield :agility %>
        </div>
      </div>
    </div>
    <br/><h1 class="font-black">Skille</h1>
    <%= partial %>
    <%= f.button :submit %>
  <% end %>
</div>