<p>Character sheet - <%= @sheet.name %></p>
<ul class="list-disc list-inside">
  <li>Brawn - <%= @sheet.brawn %></li>
  <li>Determination - <%= @sheet.determination %></li>
  <li>Intelligence - <%= @sheet.intelligence %></li>
  <li>Perception - <%= @sheet.perception %></li>
  <li>Dexterity - <%= @sheet.dexterity %></li>
  <li>Agility - <%= @sheet.agility %></li>
</ul>
<% @sheet.character_sheet_skills.all.each do |skill| %>
  <p>
    <%= skill.name %>
    <%= skill.value %>
  </p>
<% end %>
<br/>
<p>Zalety i wady</p>
<% @sheet.character_sheet_implications.all.each do |implication| %>
  <p>
    <%= implication.name %>
    <%= implication.value %>
  </p>
<% end %>
<p>Experience points - <%= @sheet.experience %></p>
<p>Money: Card - <%= @sheet.money %> Barter - <%= @sheet.barter %></p>