<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>CharacterSheetCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-blue-500">
    <%= render 'shared/navbar' %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <div class="mx-auto p-4">
      <%= yield %>
    </div>
  </body>
</html>
